.box {
  width: 1000px;
  height: 450px;
  margin: 1px;
  padding: 25px;
  border: 1px solid black;
  background-color: rgb(184, 228, 248);
}
input{
  width: 82%;
  padding: 5px;
  border: 1.5px solid black;
  border-radius: 0px;
  resize: vertical;
  background-color: rgb(184, 228, 248);
}
textarea{
  height: 150px;
  width: 82%;
  padding: 5px;
  border: 1.5px solid black;
  border-radius: 0px;
  resize: vertical;
  background-color: rgb(184, 228, 248);
  resize:none;
}

label {
  width: 100px;
  display:inline-block;
  margin: 20px
}

.button {
  border:solid;
  border-width: thin;
  color: black;
  padding: 15px 15px;
  text-align: center;
  font-size: 16px;
  margin: 50px 50px;
  cursor: pointer;
  border-radius: 7px;
  background-color: rgb(184, 228, 248);
  width: 25%
}

.space {
  width: 4px;
  height: auto;
  display: inline-block;
}